@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-color: #060c12;
  --color-primary-white: #e7e8ea;
  --color-primary-yellow: #ff6610;
  --color-primary-dark-blue: #04090d;
  --color-primary-light-white: #9fadb9;
  --color-primary-green: #00df82;
  --color-primary-gray: #9fadb933;
  --color-extra-blue: #0c1924;
  --color-light-blue: #108cff;
  --color-metal-white: #c2cfdc;
  --color-metal-gray: #62707d;
  --color-border-blue: #10202d;
  --color-secondary-off-gray: #9fadb926;
  --color-extra-blue: #10202de6;
  --color-secondary-blue: #108cff;
  ---color-rgba-gray: rgba(159, 173, 185, 0.15);
  --color-light-gray: rgba(159, 173, 185, 0.2);

  /* Container */
  /* customize your container from here */
  --container-max-width: 1720px;
  --container-padding-x: 0.1rem;
  --container-padding-y: 2rem;
  --shadow-nav-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.08);
  --color-transparent-gray: rgba(70, 70, 70, 0.5);

  /* Font family */
  /* add your custom fonts here */
  --font-Inter: "Inter", sans-serif;

  --breakpoint-xs: 375px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 576px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1024px;
  --breakpoint-2xl: 1280px;
  --breakpoint-3xl: 1440px;
  --breakpoint-4xl: 1560px;
}

@layer components {
  .container {
    max-width: var(--container-max-width);
    padding-left: var(--container-padding-x);
    padding-right: var(--container-padding-x);
    margin-left: auto;
    margin-right: auto;
  }

  body {
    @apply font-Inter;
  }
}

.swal-full-btn {
  width: 100% !important;
  margin: 0 !important;
  background-color: #e7000b;
  padding: 10px 0;
}
